@model PickAutoContext
@{
    ViewData["Title"] = "Database Model Picture";
}

<div class="text-center">
    <h1 class="display-4">Database Model Picture</h1>


</div>

<img src="/images/PickAutoDB.png" alt="Here should have been image">
<img src="~/images/PickAutoDB.png" alt="ASP.NET" class="img-responsive" />
<img src="/images/Moon.jpg" alt="ASP.NET" class="img-responsive" />