@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
<div>
    <h2>List of tables:</h2>
    <ul>
        <li><a href="/Cars/">Cars</a></li>
        <li><a href="/CarModels/">Car Models</a></li>
        <li><a href="/Customers/">Customers</a></li>
        <li><a href="/Gearboxes/">Gearboxes</a></li>
        <li><a href="/Manufacturers/">Manufacturers</a></li>
        <li><a href="/Purchases/">Purchases</a></li>
        <li><a href="/Rentals/">Rentals</a></li>
        <li><a href="/Stores/">Stores</a></li>
        <li><a href="/Workers/">Workers</a></li>
    </ul>
</div>